*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: black; */
}

.container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -22;
  position: absolute;
}

.potImage{
  position: absolute;
  /* z-index: -2; */
}

.pot-bg{
  /* background-color: lime; */
  position: relative;
  z-index: -1;
  height: 220px;
}